**/node_modules/
**/.git
**/.github
**/test
**/.vscode
**/.env
**/.env.example
**/npm-debug.log
**/coverage
**/.editorconfig
**/dist
**/*.pem
**/README.md
**/CONTRIBUTING.md
**/CODE_OF_CONDUCT.md
**/LICENSE
Dockerfile
